
body {
    background: #cdcdcd;   
}

/* navbar changes with screen width */
@media (min-width: 480px) {
    .navbar bg-info
}

@media ()

.col-12 {
    font-size: 28px;
    text-align: left;
}

/*row class styled with padding from the top*/
.row {
    padding-top: 30px;
}

/*
.col-4 {
    font-size: 28px;
}
*/

.col-2 {
    background: #cdcdcd; 
}

/*.col-12 {
    background: #cdcdcd; 
}*/

.navbar-brand {
    padding: 10px;
    background: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/*.navbar-brand #bg-secondary {
    padding: 10px;
    background: teal;
    color: white;
}*/

/*.nav justify-content-end {
    color: grey
}*/

/*.nav-3right {
    color: grey; 
    float: inline, right
}*/


/*.nav-item dropdown {
    margin-right: 10px;
    color: grey
}*/

/*.nav-item {
    margin-right: 2rem;
    color: grey
}*/

/*.collapse:not(.show) {
    background: teal
}*/

h1 {
   color: teal;
   font-size: 28px;
   text-align: left; 
   padding: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif
}

#figure1 {
    position: relative;
  }

#lat-image {
    width: 200px;
    height: 200px;
    float: left
  }  

/*smaller images for index page grid*/  
#lat-image-viz {
    width: 150px;
    height: 150px;
    float: left
  } 

#humidity-image-viz {
    width: 150px;
    height: 150px;
    float: right
  }  

#cloudiness-image-viz {
    width: 150px;
    height: 150px;
    float: left
  }  

#windspeed-image-viz  {
    width: 150px;
    height: 150px;
    float: right
  }  

/*larger images for visualization pages*/  
#lat-image-solo {
    width: 500px; 
    height: 400px
}  

#humid-image-solo {
    width: 500px; 
    height: 400px
}

#cloud-image-solo {
    width: 500px; 
    height: 400px
}